<?xml version="1.0"?>
<launch>
    <!-- Go2 için denge ve yürüyüş kontrolcülerini yükler -->
    <include file="$(find legged_controllers)/launch/load_controller_go2.launch"/>

    <node pkg="joy" type="joy_node" name="joy_node" output="screen">
        <param name="dev" type="string" value="/dev/input/js0" />
        <param name="autorepeat_rate" type="double" value="100.0" />    
    </node>

    <!-- Kontrolcü geçiş (switcher) scriptini başlatır -->
    <node pkg="legged_robot" type="controller_switcher.py" name="controller_switcher" output="screen" />
</launch>